/* Root setting for my style  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    background-color: color-mix(in hsl shorter hue, color 30%, color 40%);
    color:darkgray;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

/* Header */
header {
    background: rgb(134, 134, 146);
    color: white;
    padding-top: 30px;
    margin: auto;
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    float: right;
    display: inline;
    margin: 5px;
    padding: 0 5px 0 5px;
}

/*
h1 {
    margin-bottom: 15px;
    text-align: center;
    color: rgb(24, 28, 25);
}
h2{
    text-align: center;
    color: brown;
}
h3 {
    margin-top: 220px;
}
nav ul {
    list-style-type: none;
    text-align: center;
}
header li {
    display: inline-block;
    width: none;
}
ul li a {
    margin: 20px;
    display: inline-block;
    text-align: center;
}
a{
    color:blue;
}
*/
